<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= email_stylesheet_tag "stylesheets/email.css" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
